### England

In [35]:
import pandas as pd
df = pd.read_csv('/home/jovyan/Pandemic-Forecasting-main/data/Spain/spain_labels.csv', header = 0)
df = df.set_index("name")
df = df.transpose()
df = df.reset_index()
df = df.rename(columns={'index':'date'})

# # Iterate over each column (excluding 'name' and 'date')
# for column in df.columns[1:]:  # Skipping the first two columns 'name' and 'date'
#     # Convert each value in the column into a list [value, 0, 0]
#     df[column] = df[column].apply(lambda x: [x, 0, 0, 0])
df

name,date,a_coruna,albacete,alicante,almeria,araba/alava,asturias,avila,badajoz,baleares,...,segovia,sevilla,soria,tarragona,teruel,toledo,valencia,valladolid,zamora,zaragoza
0,2020-02-20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2020-02-21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2020-02-22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2020-02-23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2020-02-24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,2020-06-16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
118,2020-06-17,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,30.0,1.0,0.0
119,2020-06-18,0.0,0.0,0.0,0.0,0.0,0.0,4.0,1.0,0.0,...,3.0,0.0,1.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0
120,2020-06-19,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,...,2.0,0.0,3.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0
121,2020-06-20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,6.0,2.0,0.0

### Italy

In [122]:
# import pandas as pd
# df = pd.read_csv('/home/jovyan/Pandemic-Forecasting-main/data/Italy/italy_labels.csv')
# df = df.drop(columns = {'Unnamed: 0', 'id'})
# df = df.set_index("name")
# df = df.transpose()
# df = df.reset_index()
# df = df.rename(columns={'index':'date'})

# # # Iterate over each column (excluding 'name' and 'date')
# # for column in df.columns[1:]:  # Skipping the first two columns 'name' and 'date'
# #     # Convert each value in the column into a list [value, 0, 0, 0]
# #     df[column] = df[column].apply(lambda x: [x, 0, 0, 0])
# df

name,date,agrigento,alessandria,ancona,aosta,arezzo,ascoli_piceno,asti,avellino,bari,...,trieste,udine,varese,venezia,verbano_cusio_ossola,vercelli,verona,vibo_valentia,vicenza,viterbo
0,2020-02-24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2020-02-25,0,0,0,0,0,0,0,0,0,...,0,0,0,7,0,0,0,0,0,0
2,2020-02-26,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,2020-02-27,0,0,0,0,0,0,0,0,1,...,0,0,0,6,0,0,0,0,3,0
4,2020-02-28,0,0,0,0,0,0,0,0,0,...,0,0,3,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,2020-06-01,0,2,0,3,1,0,4,0,3,...,0,1,3,0,0,0,0,0,0,0
99,2020-06-02,0,17,0,0,0,0,5,0,1,...,0,2,10,4,2,1,1,0,3,0
100,2020-06-03,0,0,0,0,0,0,7,0,0,...,0,0,5,0,0,2,0,0,0,0
101,2020-06-04,0,1,0,0,0,0,3,0,1,...,1,1,6,2,0,0,1,0,0,0
102,2020-06-05,0,17,0,0,0,0,2,0,0,...,0,1,28,0,0,1,2,0,2,0

### Create dictionary for all confirmed cases

In [36]:
# Create a new DataFrame with a dictionary column for confirmed cases
df_new = df.copy()  # Copy the original df to create df_new

# Iterate over the rows in df
df_new['confirmedCases_inflow_outflow_intra'] = df_new.apply(lambda row: {
    col: [row[col], 0, 0, 0] for col in df.columns if col not in ['date']
}, axis=1)

# Now df_new will have the 'confirmed_cases' column as a dictionary
df_new = df_new[['date', 'confirmedCases_inflow_outflow_intra']]
df_new

name        date                confirmedCases_inflow_outflow_intra
0     2020-02-20  {'a_coruna': [0.0, 0, 0, 0], 'albacete': [0.0,...
1     2020-02-21  {'a_coruna': [0.0, 0, 0, 0], 'albacete': [0.0,...
2     2020-02-22  {'a_coruna': [0.0, 0, 0, 0], 'albacete': [0.0,...
3     2020-02-23  {'a_coruna': [0.0, 0, 0, 0], 'albacete': [0.0,...
4     2020-02-24  {'a_coruna': [0.0, 0, 0, 0], 'albacete': [0.0,...
..           ...                                                ...
117   2020-06-16  {'a_coruna': [0.0, 0, 0, 0], 'albacete': [0.0,...
118   2020-06-17  {'a_coruna': [0.0, 0, 0, 0], 'albacete': [0.0,...
119   2020-06-18  {'a_coruna': [0.0, 0, 0, 0], 'albacete': [0.0,...
120   2020-06-19  {'a_coruna': [0.0, 0, 0, 0], 'albacete': [0.0,...
121   2020-06-20  {'a_coruna': [0.0, 0, 0, 0], 'albacete': [0.0,...

[122 rows x 2 columns]

In [4]:
column_list = df.columns
len(column_list)

152

### Fix column names in inflow outflow csv files

In [21]:
# import os
# import pandas as pd

# # Set the paths for the source and destination folders
# source_folder = '/home/jovyan/Pandemic-Forecasting-main/data/Spain/graphs'  # Path to the folder containing the CSV files without headers
# destination_folder = '/home/jovyan/Pandemic-Forecasting-main/data/Spain/graphs_new'  # Path to the folder where modified CSVs will be saved

# # List all CSV files in the source folder
# csv_files = [f for f in os.listdir(source_folder) if f.endswith('.csv')]

# # Loop through each file and process it
# for file in csv_files:
#     # Construct the full file path
#     file_path = os.path.join(source_folder, file)
    
#     # Read the CSV file without headers
#     df = pd.read_csv(file_path, header=None)
    
#     # Assign new column names
#     df.columns = ['region_1', 'region_2', 'mobility']
    
#     # Save the modified DataFrame to the destination folder
#     new_file_path = os.path.join(destination_folder, file)
#     df.to_csv(new_file_path, index=False)

#     print(f"Processed and saved: {file}")

Processed and saved: ES_2020-04-04.csv
Processed and saved: ES_2020-04-05.csv
Processed and saved: ES_2020-04-06.csv
Processed and saved: ES_2020-04-07.csv
Processed and saved: ES_2020-04-08.csv
Processed and saved: ES_2020-04-09.csv
Processed and saved: ES_2020-04-10.csv
Processed and saved: ES_2020-04-11.csv
Processed and saved: ES_2020-04-12.csv
Processed and saved: ES_2020-04-13.csv
Processed and saved: ES_2020-04-14.csv
Processed and saved: ES_2020-04-15.csv
Processed and saved: ES_2020-04-16.csv
Processed and saved: ES_2020-04-17.csv
Processed and saved: ES_2020-04-18.csv
Processed and saved: ES_2020-04-19.csv
Processed and saved: ES_2020-04-20.csv
Processed and saved: ES_2020-04-21.csv
Processed and saved: ES_2020-04-22.csv
Processed and saved: ES_2020-04-23.csv
Processed and saved: ES_2020-04-24.csv
Processed and saved: ES_2020-04-25.csv
Processed and saved: ES_2020-04-26.csv
Processed and saved: ES_2020-04-27.csv
Processed and saved: ES_2020-04-28.csv
Processed and saved: ES_2020-04-29.csv
Processed and saved: ES_2020-04-30.csv
Processed and saved: ES_2020-05-01.csv
Processed and saved: ES_2020-05-02.csv
Processed and saved: ES_2020-05-03.csv
Processed and saved: ES_2020-05-04.csv
Processed and saved: ES_2020-05-05.csv
Processed and saved: ES_2020-05-06.csv
Processed and saved: ES_2020-05-07.csv
Processed and saved: ES_2020-05-08.csv
Processed and saved: ES_2020-05-09.csv
Processed and saved: ES_2020-05-10.csv
Processed and saved: ES_2020-05-11.csv
Processed and saved: ES_2020-05-12.csv
Processed and saved: ES_2020-03-12.csv
Processed and saved: ES_2020-03-13.csv
Processed and saved: ES_2020-03-14.csv
Processed and saved: ES_2020-03-15.csv
Processed and saved: ES_2020-03-16.csv
Processed and saved: ES_2020-03-17.csv
Processed and saved: ES_2020-03-18.csv
Processed and saved: ES_2020-03-19.csv
Processed and saved: ES_2020-03-20.csv
Processed and saved: ES_2020-03-21.csv
Processed and saved: ES_2020-03-22.csv
Processed and saved: ES_2020-03-23.csv
Processed and saved: ES_2020-03-24.csv
Processed and saved: ES_2020-03-25.csv
Processed and saved: ES_2020-03-26.csv
Processed and saved: ES_2020-03-27.csv
Processed and saved: ES_2020-03-28.csv
Processed and saved: ES_2020-03-29.csv
Processed and saved: ES_2020-03-30.csv
Processed and saved: ES_2020-03-31.csv
Processed and saved: ES_2020-04-01.csv
Processed and saved: ES_2020-04-02.csv
Processed and saved: ES_2020-04-03.csv

In [83]:
df

          region_1               region_2  mobility
0          cremona               piacenza     643.0
1    reggio_emilia                mantova     476.0
2             pisa                pistoia     252.0
3          mantova          reggio_emilia     467.0
4             pisa                firenze    1032.0
..             ...                    ...       ...
603        potenza  barletta_andria_trani      21.0
604        potenza                cosenza      23.0
605          parma                 milano      10.0
606         matera                potenza      13.0
607          parma                 modena      40.0

[608 rows x 3 columns]

### Get inflow outflow from other csv files - Italy

In [88]:
# import pandas as pd
# import glob

# # List of CSV files
# csv_files = glob.glob("/home/jovyan/Pandemic-Forecasting-main/data/Italy/graphs_new/*.csv")

# # Iterate over each row in df
# for index, row in df.iterrows():
#     date = row["date"]
#     # print(type(date))
#     # Find the CSV file corresponding to the date
#     csv_file = f"/home/jovyan/Pandemic-Forecasting-main/data/Italy/graphs_new/IT_{date}.csv"
#     try:
#         mobility_data = pd.read_csv(csv_file)
#     except FileNotFoundError:
#         print(f"File for {date} not found.")
#         continue
    
#     # Extract regions and flow data
#     for node in df.columns[1:]:  # Skip "Date" column
#         infections, inflow, outflow = row[node]
        
#         # Compute inflow: Sum where `region_2` == node
#         inflow += mobility_data.loc[mobility_data['region_2'] == node, 'mobility'].sum()
        
#         # Compute outflow: Sum where `region_1` == node
#         outflow += mobility_data.loc[mobility_data['region_1'] == node, 'mobility'].sum()
        
#         # Update the node value in the dataframe
#         df.at[index, node] = [infections, inflow, outflow]

# # Save the updated DataFrame to a new CSV file
# df.to_csv("/home/jovyan/Pandemic-Forecasting-main/data/Italy/italy_inflow_outflow.csv", index=False)

### Get all three values - inflow outflow and intra_region_flow in a list

In [97]:
# import pandas as pd
# import glob

# # List of CSV files
# csv_files = glob.glob("/home/jovyan/Pandemic-Forecasting-main/data/England/graphs_new/*.csv")

# # Iterate over each row in df
# for index, row in df.iterrows():
#     date = row["date"]
#     # Find the CSV file corresponding to the date
#     csv_file = f"/home/jovyan/Pandemic-Forecasting-main/data/England/graphs_new/EN_{date}.csv"
    
#     try:
#         mobility_data = pd.read_csv(csv_file)
#     except FileNotFoundError:
#         print(f"File for {date} not found.")
#         continue
    
#     # Extract regions and flow data
#     for node in df.columns[1:]:  # Skip "Date" column
#         infections, inflow, outflow, intra_region_flow = row[node]
        
#         # Compute inflow: Sum where `region_2` == node
#         inflow += mobility_data.loc[mobility_data['region_2'] == node, 'mobility'].sum()
        
#         # Compute outflow: Sum where `region_1` == node
#         outflow += mobility_data.loc[mobility_data['region_1'] == node, 'mobility'].sum()
        
#         # Compute intra-region flow: Sum where `region_1` == `region_2` == node
#         intra_region_flow = mobility_data.loc[mobility_data['region_1'] == node, 'mobility'].sum()
#         intra_region_flow += mobility_data.loc[mobility_data['region_2'] == node, 'mobility'].sum()
        
#         # Update the node value in the dataframe to include [Infections, Inflow, Outflow, Intra-Region Flow]
#         df.at[index, node] = [infections, inflow, outflow, intra_region_flow]

# # Save the updated DataFrame to a new CSV file
# df.to_csv("/home/jovyan/Pandemic-Forecasting-main/data/England/england_inflow_outflow_intra.csv", index=False)
# df

name,date,E10000032,E10000031,E10000030,E10000029,E10000028,E10000027,E10000025,E10000024,E10000023,...,E08000029,E06000013,E06000031,E08000036,E06000033,E06000002,E06000042,E10000019,E06000041,E06000036
0,2020-03-13,"[3, 177620.0, 177546.0, 355166.0]","[3, 118103.0, 118371.0, 236474.0]","[5, 195318.0, 195011.0, 390329.0]","[1, 156811.0, 156809.0, 313620.0]","[6, 173860.0, 173828.0, 347688.0]","[3, 125036.0, 124755.0, 249791.0]","[4, 129249.0, 129355.0, 258604.0]","[4, 172287.0, 170896.0, 343183.0]","[2, 100267.0, 100251.0, 200518.0]",...,"[0, 0.0, 0.0, 0.0]","[0, 41938.0, 41976.0, 83914.0]","[0, 70219.0, 70326.0, 140545.0]","[0, 108729.0, 108452.0, 217181.0]","[0, 36489.0, 36475.0, 72964.0]","[0, 57164.0, 57311.0, 114475.0]","[0, 127721.0, 128145.0, 255866.0]","[0, 187207.0, 186492.0, 373699.0]","[0, 13198.0, 13027.0, 26225.0]","[0, 24098.0, 24055.0, 48153.0]"
1,2020-03-14,"[6, 175783.0, 175999.0, 351782.0]","[1, 115286.0, 115855.0, 231141.0]","[9, 185419.0, 185490.0, 370909.0]","[2, 155774.0, 155855.0, 311629.0]","[4, 169422.0, 169754.0, 339176.0]","[2, 126935.0, 127048.0, 253983.0]","[0, 125319.0, 125553.0, 250872.0]","[8, 167741.0, 167047.0, 334788.0]","[1, 102359.0, 102562.0, 204921.0]",...,"[0, 0.0, 0.0, 0.0]","[0, 41083.0, 41201.0, 82284.0]","[2, 68488.0, 68553.0, 137041.0]","[0, 105409.0, 105622.0, 211031.0]","[1, 36748.0, 36452.0, 73200.0]","[1, 54627.0, 54597.0, 109224.0]","[1, 122290.0, 122376.0, 244666.0]","[0, 191398.0, 191344.0, 382742.0]","[0, 12850.0, 12817.0, 25667.0]","[0, 23681.0, 23780.0, 47461.0]"
2,2020-03-15,"[1, 176026.0, 175550.0, 351576.0]","[2, 114350.0, 114257.0, 228607.0]","[9, 184658.0, 184195.0, 368853.0]","[6, 155586.0, 155439.0, 311025.0]","[7, 169507.0, 169281.0, 338788.0]","[1, 126622.0, 126379.0, 253001.0]","[5, 123532.0, 123712.0, 247244.0]","[5, 169336.0, 167226.0, 336562.0]","[0, 101855.0, 101868.0, 203723.0]",...,"[0, 0.0, 0.0, 0.0]","[0, 41040.0, 41003.0, 82043.0]","[0, 68446.0, 68503.0, 136949.0]","[0, 105644.0, 105180.0, 210824.0]","[0, 36345.0, 36492.0, 72837.0]","[0, 54719.0, 54686.0, 109405.0]","[1, 122084.0, 122290.0, 244374.0]","[2, 190033.0, 190233.0, 380266.0]","[2, 12550.0, 12530.0, 25080.0]","[1, 23857.0, 23662.0, 47519.0]"
3,2020-03-16,"[3, 181485.0, 180965.0, 362450.0]","[8, 119682.0, 119623.0, 239305.0]","[13, 198162.0, 198567.0, 396729.0]","[1, 159747.0, 159723.0, 319470.0]","[8, 175703.0, 175581.0, 351284.0]","[0, 128842.0, 128848.0, 257690.0]","[3, 129553.0, 129787.0, 259340.0]","[5, 172774.0, 172087.0, 344861.0]","[3, 102062.0, 102048.0, 204110.0]",...,"[2, 0.0, 0.0, 0.0]","[1, 42394.0, 42430.0, 84824.0]","[0, 71001.0, 71183.0, 142184.0]","[0, 109901.0, 109628.0, 219529.0]","[2, 37197.0, 37310.0, 74507.0]","[0, 57743.0, 58074.0, 115817.0]","[0, 130248.0, 130553.0, 260801.0]","[0, 190720.0, 190511.0, 381231.0]","[0, 13538.0, 13329.0, 26867.0]","[1, 24430.0, 24346.0, 48776.0]"
4,2020-03-17,"[9, 187186.0, 186790.0, 373976.0]","[4, 123448.0, 123445.0, 246893.0]","[19, 203814.0, 204484.0, 408298.0]","[4, 164036.0, 163895.0, 327931.0]","[5, 179910.0, 179802.0, 359712.0]","[0, 132340.0, 132301.0, 264641.0]","[9, 133409.0, 133565.0, 266974.0]","[3, 176069.0, 175168.0, 351237.0]","[2, 106060.0, 106049.0, 212109.0]",...,"[1, 0.0, 0.0, 0.0]","[0, 43284.0, 43353.0, 86637.0]","[0, 72492.0, 72660.0, 145152.0]","[0, 112159.0, 111863.0, 224022.0]","[2, 38320.0, 38352.0, 76672.0]","[0, 58194.0, 58373.0, 116567.0]","[3, 133130.0, 133450.0, 266580.0]","[2, 194398.0, 194230.0, 388628.0]","[1, 13990.0, 13872.0, 27862.0]","[1, 25144.0, 25033.0, 50177.0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,2020-05-08,"[3, 193907.0, 194077.0, 387984.0]","[9, 125454.0, 125613.0, 251067.0]","[5, 197836.0, 198127.0, 395963.0]","[5, 170504.0, 170474.0, 340978.0]","[16, 182746.0, 183083.0, 365829.0]","[5, 137895.0, 137879.0, 275774.0]","[31, 132566.0, 132557.0, 265123.0]","[9, 175464.0, 175266.0, 350730.0]","[9, 109304.0, 109327.0, 218631.0]",...,"[11, 0.0, 0.0, 0.0]","[3, 45228.0, 45272.0, 90500.0]","[4, 73463.0, 73473.0, 146936.0]","[9, 115853.0, 115734.0, 231587.0]","[3, 38264.0, 38251.0, 76515.0]","[2, 57579.0, 57603.0, 115182.0]","[1, 129753.0, 129787.0, 259540.0]","[17, 198485.0, 198425.0, 396910.0]","[2, 14360.0, 14354.0, 28714.0]","[0, 26339.0, 26270.0, 52609.0]"
57,2020-05-09,"[8, 192235.0, 192214.0, 384449.0]","[5, 123663.0, 123705.0, 247368.0]","[6, 195381.0, 195359.0, 390740.0]","[2, 168789.0, 168778.0, 337567.0]","[6, 180634.0, 180510.0, 361144.0]","[8, 137228.0, 137242.0, 274470.0]","[43, 131388.0, 131388.0, 262776.0]","[7, 174008.0, 174022.0, 348030.0]","[12, 107471.0, 107563.0, 215034.0]",...,"[8, 0.0, 0.0, 0.0]","[2, 45143.0, 45140.0, 90283.0]","[5, 72937.0, 72904.0, 145841.0]","[8, 114673.0, 114633.0, 229306.0]","[2, 38024.0, 38058.0, 76082.0]","[4, 56949.0, 56918.0, 113867.0]","[0, 129079.0, 129084.0, 258163.0]","[10, 197286.0, 197301.0, 394587.0]","[1, 14081.0, 14116.0, 28197.0]","[3, 26036.0, 26030.0, 52066.0]"
58,2020-05-10,"[10, 189891.0, 189939.0, 379830.0]","[8, 121632.0, 121644.0, 243276.0]","[11, 193676.0, 193855.0, 387531.0]","[7, 168364.0, 168391.0, 336755.0]","[12, 177471.0, 177354.0, 354825.0]","[11, 136576.0, 136534.0, 273110.0]","[26, 130847.0, 130936.0, 261783.0]","[12, 169936.0, 169806.0, 339742.0]","[5, 105437.0, 105476.0, 210913.0]",...,"[4, 0.0, 0.0, 0.0]","[3, 43936.0, 43945.0, 87881.0]","[4, 71968.0, 71942.0, 143910.0]","[6, 111594.0, 111550.0, 223144.0]","[2, 37500.0, 37541.0, 75041.0]","[1, 55368.0, 55332.0, 110700.0]","[1, 127254.0, 127270.0, 254524.0]","[11, 193541.0, 193553.0, 387094.0]","[2, 13850.0, 13860.0, 27710.0]","[0, 25709.0, 25654.0, 51363.0]"
59,2020-05-11,"[13, 194152.0, 194123.0, 388275.0]","[13, 126185.0, 126129.0, 252314.0]","[13, 200566.0, 201023.0, 401589.0]","[27, 169612.0, 169528.0, 339140.0]","[23, 182907.0, 182781.0, 365688.0]","[8, 137618.0, 137638.0, 275256.0]","[28, 133359.0, 133552.0, 266911.0]","[15, 174677.0, 174805.0, 349482.0]","[17, 108384.0, 108393.0, 216777.0]",...,"[2, 0.0, 0.0, 0.0]","[11, 44827.0, 44849.0, 89676.0]","[8, 73277.0, 73336.0, 146613.0]","[9, 115391.0, 115424.0, 230815.0]","[2, 38459.0, 38442.0, 76901.0]","[0, 56985.0, 56982.0, 113967.0]","[4, 131350.0, 131376.0, 262726.0]","[9, 197183.0, 197036.0, 394219.0]","[2, 14470.0, 14452.0, 28922.0]","[1, 26040.0, 25943.0, 51983.0]"
60,2020-05-12,"[8, 193014.0, 192853.0, 385867.0]","[7, 125605.0, 125653.0, 251258.0]","[8, 199192.0, 199708.0, 398900.0]","[10, 168046.0, 167971.0, 336017.0]","[22, 182195.0, 182115.0, 364310.0]","[5, 136475.0, 136443.0, 272918.0]","[22, 132365.0, 132634.0, 264999.0]","[13, 173897.0, 173968.0, 347865.0]","[18, 107860.0, 107988.0, 215848.0]",...,"[2, 0.0, 0.0, 0.0]","[15, 44523.0, 44546.0, 89069.0]","[8, 73019.0, 73059.0, 146078.0]","[12, 114238.0, 114163.0, 228401.0]","[2, 38174.0, 38135.0, 76309.0]","[1, 57042.0, 57123.0, 114165.0]","[0, 131252.0, 131244.0, 262496.0]","[20, 195855.0, 195791.0, 391646.0]","[3, 14491.0, 14490.0, 28981.0]","[0, 25913.0, 25819.0, 51732.0]"

### Compact representation of confirmed_cases inflow outflow intra_region with regional information in a dict

In [ ]:
# import pandas as pd
# import glob

# # Assuming 'df' is your initial DataFrame
# # Example structure of df:
# # name       date        agrigento    alessandria    ancona   ...  viterbo
# # 2020-02-24  0          0            0              0       ... 0
# # 2020-02-25  7          0            0              0       ... 0
# # 2020-02-26  12         0            0              0       ... 0

# # List of CSV files
# csv_files = glob.glob("/home/jovyan/Pandemic-Forecasting-main/data/England/graphs_new/*.csv")

# # Iterate over each row in df
# for index, row in df.iterrows():
#     date = row["date"]
#     # Find the CSV file corresponding to the date
#     csv_file = f"/home/jovyan/Pandemic-Forecasting-main/data/England/graphs_new/EN_{date}.csv"
    
#     try:
#         mobility_data = pd.read_csv(csv_file)
#     except FileNotFoundError:
#         print(f"File for {date} not found.")
#         continue
    
#     # Create a dictionary to store the values for each region (node)
#     confirmed_cases_inflow_outflow_intra = {}

#     # Iterate over each region (node) column (skip 'name' and 'date' columns)
#     for node in df.columns[1:]:
#         infections = row[node]  # confirmed cases
        
#         # Initialize inflow, outflow, and intra_region_flow
#         inflow = 0
#         outflow = 0
#         intra_region_flow = 0
        
#         # Compute inflow: Sum where `region_2` == node
#         inflow += mobility_data.loc[mobility_data['region_2'] == node, 'mobility'].sum()
        
#         # Compute outflow: Sum where `region_1` == node
#         outflow += mobility_data.loc[mobility_data['region_1'] == node, 'mobility'].sum()
        
#         # Compute intra-region flow: Sum where `region_1` == `region_2` == node
#         intra_region_flow += mobility_data.loc[mobility_data['region_1'] == node, 'mobility'].sum()
#         intra_region_flow += mobility_data.loc[mobility_data['region_2'] == node, 'mobility'].sum()

#         # Store the result in the dictionary for that region (node)
#         confirmed_cases_inflow_outflow_intra[node] = [infections, inflow, outflow, intra_region_flow]

#     # Add the dictionary as a new column in the dataframe
#     df.at[index, 'confirmedCases_inflow_outflow_intra'] = confirmed_cases_inflow_outflow_intra

# # Save the updated DataFrame to a new CSV file
# df.to_csv("/home/jovyan/Pandemic-Forecasting-main/data/England/england_inflow_outflow_intra.csv", index=False)

# # Output the updated df (optional)
# print(df)

In [37]:
import pandas as pd
import glob

df = df_new.copy()

# List of CSV files
csv_files = glob.glob("/home/jovyan/Pandemic-Forecasting-main/data/Spain/graphs_new/*.csv")

# Iterate over each row in df
for index, row in df.iterrows():
    date = row["date"]
    # Find the CSV file corresponding to the date
    csv_file = f"/home/jovyan/Pandemic-Forecasting-main/data/Spain/graphs_new/ES_{date}.csv"
    
    try:
        mobility_data = pd.read_csv(csv_file)
    except FileNotFoundError:
        print(f"File for {date} not found.")
        continue
    
    # Extract regions and flow data
    confirmed_cases_dict = row["confirmedCases_inflow_outflow_intra"]
    
    # Update each region's inflow, outflow, and intra-region flow
    for region, values in confirmed_cases_dict.items():
        confirmed_cases, inflow, outflow, intra_region_flow = values
        
        # Compute inflow: Sum where `region_2` == region
        inflow = mobility_data.loc[mobility_data['region_2'] == region, 'mobility'].sum()
        
        # Compute outflow: Sum where `region_1` == region
        outflow = mobility_data.loc[mobility_data['region_1'] == region, 'mobility'].sum()
        
        # Compute intra-region flow: Sum where `region_1` == `region_2` == region
        intra_region_flow = mobility_data.loc[
            (mobility_data['region_1'] == region) & (mobility_data['region_2'] == region),
            'mobility'
        ].sum()
        
        # Update the dictionary with the computed values
        confirmed_cases_dict[region] = [confirmed_cases, inflow, outflow, intra_region_flow]
    
    # Update the row in the dataframe
    df.at[index, "confirmedCases_inflow_outflow_intra"] = confirmed_cases_dict
df

File for 2020-02-20 not found.
File for 2020-02-21 not found.
File for 2020-02-22 not found.
File for 2020-02-23 not found.
File for 2020-02-24 not found.
File for 2020-02-25 not found.
File for 2020-02-26 not found.
File for 2020-02-27 not found.
File for 2020-02-28 not found.
File for 2020-02-29 not found.
File for 2020-03-01 not found.
File for 2020-03-02 not found.
File for 2020-03-03 not found.
File for 2020-03-04 not found.
File for 2020-03-05 not found.
File for 2020-03-06 not found.
File for 2020-03-07 not found.
File for 2020-03-08 not found.
File for 2020-03-09 not found.
File for 2020-03-10 not found.
File for 2020-03-11 not found.
File for 2020-05-13 not found.
File for 2020-05-14 not found.
File for 2020-05-15 not found.
File for 2020-05-16 not found.
File for 2020-05-17 not found.
File for 2020-05-18 not found.
File for 2020-05-19 not found.
File for 2020-05-20 not found.
File for 2020-05-21 not found.
File for 2020-05-22 not found.
File for 2020-05-23 not found.
File for 2020-05-24 not found.
File for 2020-05-25 not found.
File for 2020-05-26 not found.
File for 2020-05-27 not found.
File for 2020-05-28 not found.
File for 2020-05-29 not found.
File for 2020-05-30 not found.
File for 2020-05-31 not found.
File for 2020-06-01 not found.
File for 2020-06-02 not found.
File for 2020-06-03 not found.
File for 2020-06-04 not found.
File for 2020-06-05 not found.
File for 2020-06-06 not found.
File for 2020-06-07 not found.
File for 2020-06-08 not found.
File for 2020-06-09 not found.
File for 2020-06-10 not found.
File for 2020-06-11 not found.
File for 2020-06-12 not found.
File for 2020-06-13 not found.
File for 2020-06-14 not found.
File for 2020-06-15 not found.
File for 2020-06-16 not found.
File for 2020-06-17 not found.
File for 2020-06-18 not found.
File for 2020-06-19 not found.
File for 2020-06-20 not found.

name        date                confirmedCases_inflow_outflow_intra
0     2020-02-20  {'a_coruna': [0.0, 0, 0, 0], 'albacete': [0.0,...
1     2020-02-21  {'a_coruna': [0.0, 0, 0, 0], 'albacete': [0.0,...
2     2020-02-22  {'a_coruna': [0.0, 0, 0, 0], 'albacete': [0.0,...
3     2020-02-23  {'a_coruna': [0.0, 0, 0, 0], 'albacete': [0.0,...
4     2020-02-24  {'a_coruna': [0.0, 0, 0, 0], 'albacete': [0.0,...
..           ...                                                ...
117   2020-06-16  {'a_coruna': [0.0, 0, 0, 0], 'albacete': [0.0,...
118   2020-06-17  {'a_coruna': [0.0, 0, 0, 0], 'albacete': [0.0,...
119   2020-06-18  {'a_coruna': [0.0, 0, 0, 0], 'albacete': [0.0,...
120   2020-06-19  {'a_coruna': [0.0, 0, 0, 0], 'albacete': [0.0,...
121   2020-06-20  {'a_coruna': [0.0, 0, 0, 0], 'albacete': [0.0,...

[122 rows x 2 columns]

In [12]:
# Save the updated DataFrame to a new CSV file
df.to_csv("/home/jovyan/Pandemic-Forecasting-main/data/England/england_compact.csv", index=False)

In [128]:
# df.tail(50)

name        date                confirmedCases_inflow_outflow_intra
53    2020-04-17  {'agrigento': [0, 55823.0, 55810.0, 55639.0], ...
54    2020-04-18  {'agrigento': [0, 55655.0, 55648.0, 55510.0], ...
55    2020-04-19  {'agrigento': [0, 55711.0, 55688.0, 55617.0], ...
56    2020-04-20  {'agrigento': [0, 56131.0, 56113.0, 55957.0], ...
57    2020-04-21  {'agrigento': [0, 56110.0, 56107.0, 55964.0], ...
58    2020-04-22  {'agrigento': [0, 56164.0, 56135.0, 55985.0], ...
59    2020-04-23  {'agrigento': [0, 56077.0, 56068.0, 55909.0], ...
60    2020-04-24  {'agrigento': [0, 55883.0, 55844.0, 55683.0], ...
61    2020-04-25  {'agrigento': [0, 56054.0, 56064.0, 55956.0], ...
62    2020-04-26  {'agrigento': [0, 55809.0, 55803.0, 55723.0], ...
63    2020-04-27  {'agrigento': [1, 56005.0, 56015.0, 55805.0], ...
64    2020-04-28  {'agrigento': [2, 55945.0, 55942.0, 55733.0], ...
65    2020-04-29  {'agrigento': [0, 55979.0, 55961.0, 55795.0], ...
66    2020-04-30  {'agrigento': [0, 55698.0, 55659.0, 55451.0], ...
67    2020-05-01  {'agrigento': [0, 56010.0, 56015.0, 55921.0], ...
68    2020-05-02  {'agrigento': [0, 55680.0, 55673.0, 55494.0], ...
69    2020-05-03  {'agrigento': [0, 55681.0, 55667.0, 55563.0], ...
70    2020-05-04  {'agrigento': [0, 55365.0, 55310.0, 55058.0], ...
71    2020-05-05  {'agrigento': [0, 55363.0, 55362.0, 55087.0], ...
72    2020-05-06  {'agrigento': [0, 55446.0, 55469.0, 55171.0], ...
73    2020-05-07  {'agrigento': [0, 55690.0, 55665.0, 55392.0], ...
74    2020-05-08  {'agrigento': [0, 55448.0, 55435.0, 55123.0], ...
75    2020-05-09  {'agrigento': [2, 55719.0, 55676.0, 55446.0], ...
76    2020-05-10  {'agrigento': [0, 55379.0, 55415.0, 55199.0], ...
77    2020-05-11  {'agrigento': [0, 55601.0, 55614.0, 55306.0], ...
78    2020-05-12  {'agrigento': [0, 55421.0, 55465.0, 55120.0], ...
79    2020-05-13  {'agrigento': [4, 0, 0, 0], 'alessandria': [11...
80    2020-05-14  {'agrigento': [0, 0, 0, 0], 'alessandria': [14...
81    2020-05-15  {'agrigento': [0, 0, 0, 0], 'alessandria': [10...
82    2020-05-16  {'agrigento': [0, 0, 0, 0], 'alessandria': [10...
83    2020-05-17  {'agrigento': [0, 0, 0, 0], 'alessandria': [7,...
84    2020-05-18  {'agrigento': [0, 0, 0, 0], 'alessandria': [4,...
85    2020-05-19  {'agrigento': [0, 0, 0, 0], 'alessandria': [7,...
86    2020-05-20  {'agrigento': [0, 0, 0, 0], 'alessandria': [6,...
87    2020-05-21  {'agrigento': [0, 0, 0, 0], 'alessandria': [16...
88    2020-05-22  {'agrigento': [0, 0, 0, 0], 'alessandria': [6,...
89    2020-05-23  {'agrigento': [0, 0, 0, 0], 'alessandria': [10...
90    2020-05-24  {'agrigento': [0, 0, 0, 0], 'alessandria': [3,...
91    2020-05-25  {'agrigento': [0, 0, 0, 0], 'alessandria': [7,...
92    2020-05-26  {'agrigento': [0, 0, 0, 0], 'alessandria': [19...
93    2020-05-27  {'agrigento': [0, 0, 0, 0], 'alessandria': [7,...
94    2020-05-28  {'agrigento': [0, 0, 0, 0], 'alessandria': [14...
95    2020-05-29  {'agrigento': [0, 0, 0, 0], 'alessandria': [8,...
96    2020-05-30  {'agrigento': [0, 0, 0, 0], 'alessandria': [19...
97    2020-05-31  {'agrigento': [0, 0, 0, 0], 'alessandria': [3,...
98    2020-06-01  {'agrigento': [0, 0, 0, 0], 'alessandria': [2,...
99    2020-06-02  {'agrigento': [0, 0, 0, 0], 'alessandria': [17...
100   2020-06-03  {'agrigento': [0, 0, 0, 0], 'alessandria': [0,...
101   2020-06-04  {'agrigento': [0, 0, 0, 0], 'alessandria': [1,...
102   2020-06-05  {'agrigento': [0, 0, 0, 0], 'alessandria': [17...

In [38]:
# Filter the DataFrame to include only rows with dates on or before '2020-05-13'
df = df[(df['date'] > '2020-03-11') & (df['date'] < '2020-05-13')]
df
# # Reset the index if needed
# df.reset_index(drop=True, inplace=True)

name        date                confirmedCases_inflow_outflow_intra
21    2020-03-12  {'a_coruna': [0.0, 0.0, 0.0, 0.0], 'albacete':...
22    2020-03-13  {'a_coruna': [0.0, 0.0, 0.0, 0.0], 'albacete':...
23    2020-03-14  {'a_coruna': [0.0, 0.0, 0.0, 0.0], 'albacete':...
24    2020-03-15  {'a_coruna': [0.0, 0.0, 0.0, 0.0], 'albacete':...
25    2020-03-16  {'a_coruna': [0.0, 0.0, 0.0, 0.0], 'albacete':...
..           ...                                                ...
78    2020-05-08  {'a_coruna': [0.0, 0.0, 0.0, 0.0], 'albacete':...
79    2020-05-09  {'a_coruna': [0.0, 0.0, 0.0, 0.0], 'albacete':...
80    2020-05-10  {'a_coruna': [0.0, 0.0, 0.0, 0.0], 'albacete':...
81    2020-05-11  {'a_coruna': [0.0, 0.0, 0.0, 0.0], 'albacete':...
82    2020-05-12  {'a_coruna': [0.0, 0.0, 0.0, 0.0], 'albacete':...

[62 rows x 2 columns]

In [39]:
# Save the updated DataFrame to a new CSV file
df.to_csv("/home/jovyan/Pandemic-Forecasting-main/data/Spain/spain_compact.csv", index=False)